package server

import (
	"fmt"
	"net"

	"{{ .Module }}/api"
	"{{ .Module }}/internal/service"
	"google.golang.org/grpc"
	"google.golang.org/grpc/reflection"
)

type GRPCServer struct {
	port int
}

func NewGRPCServer(port int) *GRPCServer {
	return &GRPCServer{
		port: port,
	}
}

func (s *GRPCServer) Start() error {
	lis, err := net.Listen("tcp", fmt.Sprintf(":%d", s.port))
	if err != nil {
		return fmt.Errorf("failed to listen: %w", err)
	}

	srv := grpc.NewServer()
	api.RegisterExampleServiceServer(srv, &service.ExampleService{})

	// Register reflection service on gRPC server.
	reflection.Register(srv)

	return srv.Serve(lis)
}
